#username
{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
#nickname
{
    text-align: center;
    font-size: 20px;
}
.myaccounttext
{
    font-size: 18px;
}
.myaccountrow
{
    margin-top: 5px;
    padding-left: 10px;
}
#editbutton
{
    margin-top: 150px;
}